<head>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">

   
    var url = "http://40.112.164.41:5000/m";

    var data = {};
    data.page_status = "nitification";
    data.uuid  = "abc";
    var json = JSON.stringify(data);

    var xhr = new XMLHttpRequest();
    if ("withCredentials" in xhr){
        xhr.open("POST", url, true);
    }
    xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
    xhr.onload = function () {
	    var users = JSON.parse(xhr.responseText);
	    if (xhr.readyState == 4 && xhr.status == "201") {
		    console.table(users);
	    }  else {
		    console.error(users);
	    }   
    }
    xhr.send(json);
    </script>
</head>
<body>
    <h1>test</h1>
</body>