<head>
    
    
        <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var data = {'status':'dashboard', 'uuid': '844ddb40-6e71-466b-9bc9-0ec395374753'};
    $.ajax({
                    url: "http://40.112.164.41:5000/m",
                    data: data,
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
    
    </script>
</head>
<body>
    <h1>test</h1>
</body>